﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="pageDANHSACHTHIETBI.aspx.cs" Inherits="MID_EXAM_VOVANHUNG_2321122017.pageDANHSACHTHIETBI" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder3" runat="server">
    <asp:DataList ID="DataList1" runat="server" RepeatColumns="3">
        <ItemTemplate>
            <a href="pageCHITIETTHIETBI.aspx?MATHIETBI=<%# Eval("MATHIETBI") %>">
            <img src="<%# Eval("HINHANH") %>" height="40%" width="40%"/>
                </a>
             <BR>
            Tên:<%# Eval("TENTHIETBI") %><BR>
            GIÁ:<%# Eval("DONGIA")%> 

        </ItemTemplate>
    </asp:DataList>
</asp:Content>
