﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="pageCHITIETTHIETBI.aspx.cs" Inherits="MID_EXAM_VOVANHUNG_2321122017.pageCHITIETTHIETBI" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder3" runat="server">
     <asp:Repeater ID="Repeater2" runat="server">
        <ItemTemplate>
            <table>
                <tr style="text-align:left;vertical-align:top">
                    <td>
                        <img src="<%# Eval("HINHANH") %>" />
                    </td>
                    <td>
                        <h3>
                        Tên thiết bị:<%# Eval("TENTHIETBI") %>
                        </h3>
                        <br />
                        Mô tả:<%# Eval("MOTA") %>
                        <hr />
                        <BR>
                        Đơn giá:<%# Eval("DONGIA") %>
                        <hr/>
                        <BR/>

                    </td>
                </tr>               
            </table>           
        </ItemTemplate>
    </asp:Repeater>

    <asp:DropDownList ID="drlSOLUONG" runat="server"></asp:DropDownList>
    <asp:Button ID="btnGIOHANG" runat="server" Text="Giỏ hàng" />

</asp:Content>
